*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font: 19px/23px Montserrat, sans-serif;
}

body {
  background-color: #42c599;
  margin: 0px 70px;
}

header.header-website {
  height: 75px;
}

main {
  margin: 0 30px;
}

.section-display {
  display: flex;
  margin-bottom: 6rem;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .section-display.right-text-content {
    flex-direction: row-reverse;
    align-items: center;
  }
  .section-display.right-text-content .illustration {
    padding-right: 2rem;
  }
  .section-display.left-text-content {
    flex-direction: row;
    align-items: center;
  }
  .section-display.left-text-content .illustration {
    padding-left: 2rem;
  }
}
.section-display .text-content .title {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .section-display .text-content .title {
    font-size: 4rem;
  }
}
.section-display .text-content .paragraph {
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .section-display .text-content .paragraph {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
.section-display .text-content .illustration {
  flex: 1;
  margin-top: 3rem;
}
.section-display .text-content .illustration img {
  max-width: 100%;
  margin: auto;
}

.competance-icon {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 3rem;
}
.competance-icon i {
  transition: all 0.3s ease;
}
.competance-icon i:hover {
  cursor: pointer;
  color: #55198b;
  transform: scale(1.2);
}

.btn {
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  border: solid 1px;
  transition: all ease 0.3s;
}
.btn:hover {
  transform: translateY(-5px);
}
.btn.btn-primary {
  background-color: #55198b;
  border-color: #200935;
  color: #ffffff;
}
.btn.btn-primary:hover {
  background-color: #6f21b6;
  color: #ffffff;
}
.btn.btn-secondary {
  background-color: #aaa5ff;
  border-color: #4a3fff;
  color: #161010;
}
.btn.btn-secondary:hover {
  background-color: #dad8ff;
  color: #161010;
}
.btn.btn-gray {
  background-color: #868e96;
  border-color: #555b61;
  color: #161010;
}
.btn.btn-gray:hover {
  background-color: #a1a8ae;
  color: #161010;
}
.btn.btn-white {
  background-color: #ffffff;
  border-color: #cccccc;
  color: #161010;
}
.btn.btn-white:hover {
  background-color: white;
  color: #161010;
}
.btn.btn-dark {
  background-color: #161010;
  border-color: black;
  color: #ffffff;
}
.btn.btn-dark:hover {
  background-color: #342525;
  color: #ffffff;
}
.btn.btn-bgBody {
  background-color: #42c599;
  border-color: #267b5f;
  color: #161010;
}
.btn.btn-bgBody:hover {
  background-color: #69d1ae;
  color: #161010;
}

.title {
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */