.section-display{
    display: flex;
    margin-bottom: 6rem;
    flex-direction: column;

    @media screen and (min-width: 768px){
        &.right-text-content{
            flex-direction: row-reverse;
            .illustration{
                padding-right: 3rem;
            }
        }
        &.left-text-content{
            flex-direction: row;
            .illustration{
                padding-left: 3rem;
            }
        }
    }

    .text-content{
        flex: 1;
        flex-direction: column;
        justify-items: left;
        .title{
            font-size: 1rem;
            @media screen and (min-width: 768px){
                font-size: 4rem;
                padding: 2rem;
            }
            line-height: 1.1;
            font-weight: 700;
        }
        .paragraph {
            font-size: rem;
            @media screen and (min-width: 768px){
                font-size: 2rem;
                line-height: 2.5rem;
                padding: 2rem;
            }
        }
        .competance-icon{
            display: flex;
            justify-content: center;
            gap: 2rem;
            font-size: 3rem;
            padding: 2rem;
            i{
                transition: all 0.3s ease;
                &:hover{
                    cursor: pointer;
                    color: $primary;
                    transform :scale(1.2);
                }    
            }
        }
        .action-div{
            display: flex;
            justify-content: center;
            gap: 2rem;
            font-size: 3rem;
            padding: 1.6rem;
        }
    }

    .illustration{
        flex: 1;
        margin-top: 3rem;
        img{
            max-width: 100%;
            display: block;
            margin: auto;
        }
    }
}

